# Tuple

In [1]:
tup1=(1,True,'Gagan',5.0)
tup1

(1, True, 'Gagan', 5.0)

In [2]:
t2=('gagan')  # just a string
type(t2)

str

In [3]:
t2=('gagan',)  #make sure you put comma while making tuple with single element
type(t2)

tuple

In [10]:
#tuple constructor k andar koi bhi SEQUENCE(string,number) 
# Tuples take a single parameter which may be a list, string, set
# or even a dictionary(only KEYS are taken as elements),

tup1=tuple(('gagan'))  # string passed
print(tup1)

tup1=tuple(('gagan',))
print(tup1)

tup1=tuple(['gagan'])
print(tup1)

tup3=tuple({2:'gagan'})   # Dictionary k case me bas KEYS ka tuple bna deta h
print(tup3)

tup1=tuple({'gagan',8})  # set se tuple
print(tup1)

('g', 'a', 'g', 'a', 'n')
('gagan',)
('gagan',)
(2,)
(8, 'gagan')

# Tuples are immutable and ordered and allow duplicate values.
# One cannot add items to a tuple once it is created. 
# Tuples cannot be appended or extended.
# We cannot remove items from a tuple once it is created.

once created then it doesn't allows any change to it.

# Accessing elements in tuple

In [11]:
# indexing
# forward  0,1,2,3,..., len(tuple)-1
# backward -len(tuple),...,-3,-2,-1

tup1=(1,True,'Gagan',5.0)
tup1[2]

'Gagan'

In [17]:
print('1st',tup1[0:2])  # 2 not included

#In Python slicing, the end index provided is not included.

print('2nd',tup1[-3:-1])  # positive ka equivalent likhna hota h

1st (1, True)
2nd (True, 'Gagan')

In [15]:
tup1[::-1]  # prints tuple in reverse order

(5.0, 'Gagan', True, 1)

# Concatenation and Replication of tuple

In [22]:
tup1=(1,True,'Gagan',5.0)
tup2=('gagan','mishra')
print("concatenation :",tup1+tup2)

print("Replication :",tup2*3)  # repeats thrice

concatenation : (1, True, 'Gagan', 5.0, 'gagan', 'mishra')
Replication : ('gagan', 'mishra', 'gagan', 'mishra', 'gagan', 'mishra')

# Deleting Using "del"

In [23]:
tuple3 = ( 0, 1)
del tuple3

In [25]:
# Length
tup1=(1,True,'Gagan',5.0)
len(tup1)

4

In [26]:
# Loops

tup1=(1,True,'Gagan',5.0)
for i in tup1:
    print(i)

1
True
Gagan
5.0

In [27]:
tup1=(1,True,'Gagan',5.0)
i=0
while i<4:
    print(tup1[i])
    i+=1

1
True
Gagan
5.0

In [28]:
# NEsted tuple
tup1=(1,True,'Gagan',5.0)
tup2=('gagan','mishra')
tup=(tup1,tup2)
tup

((1, True, 'Gagan', 5.0), ('gagan', 'mishra'))

In [30]:
# Tuple Unpacking (lHS me no. of variable and tuple me no. of elements barabar hone chahiye)
Tuple1 = ("Geeks", "For", "Geeks")
a,b,c=Tuple1
print(a,b,c)

Geeks For Geeks

# index method

A.index(element, start, end)
element – The element whose lowest index will be returned.
start (Optional) – The position from where the search begins.
end (Optional) – The position from where the search ends.

Return: Returns the lowest index where the element appears.

Error: If any element which is not present is searched, it raises a ValueError.

In [35]:
Tuple1 = ("Geeks", "For", "Geeks")
print("bina other attribute",Tuple1.index("Geeks"))

print("with other attribute",Tuple1.index("Geeks",1,3))

bina other attribute 0
with other attribute 2

In [36]:
# list of items 
list1 = (1, 2, 3, 4, 1, 1, 1, 4, 5)
  
# Will print index of '4' in sublist 
# having index from 4 to 8. 
print(list1.index(4, 4, 8))

7

# Count  Methods

In [37]:
# list_name.count(object) 
# object: is the item whose count is to be returned.

list1 = (1, 2, 3, 4, 1, 1, 1, 4, 5)

list1.count(1)

4

In [39]:
lst = ('Cat', 'Bat', 'Sat', 'Cat', 'Mat', 'Cat', 'Sat')
 
# To get the number of occurrences 
# of each item in a list
print ([ [l, lst.count(l)] for l in set(lst)])
 
# To get the number of occurrences 
# of each item in a dictionary
print (dict( (l, lst.count(l) ) for l in set(lst)))

[['Sat', 2], ['Bat', 1], ['Cat', 3], ['Mat', 1]]
{'Sat': 2, 'Bat': 1, 'Cat': 3, 'Mat': 1}

# neeche ham FUNCTIONS ki baat karenge

In [42]:
# all()  :- Returns true if all element are true or if tuple is empty
#Syntax: all( iterable )
# Iterable: It is an iterable object such as a dictionary,tuple,list,set,etc.

tu3=()
all(tu3)

True

In [45]:
# any(iterable)  :- return true if any element of the tuple is true. if tuple is empty, return false
tup=()
print(any(tup))

tup=(False,)
any(tup)

False

False

In [46]:
# Enumerate()


#Syntax: enumerate(iterable, start=0)

#Parameters:

#Iterable: any object that supports iteration
#Start: the index value from which the counter is to be started, by default it is 0
#Return: Returns an iterator with index and element pairs from the original iterable

In [47]:
s1 = "geek"
print (list(enumerate(s1, 2)))

[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [48]:
# max(tup1)
# min(tup1)
# sum(tup1)

# Sorted

In [49]:
# sorted(iterable, key, reverse)

# Parameters:
# Iterable: sequence (list, tuple, string) or collection (dictionary, set, frozenset) or any other iterator that needs to be sorted.
# Key(optional): A function that would serve as a key or a basis of sort comparison.
# Reverse(optional): If True, then the iterable would be sorted in reverse (descending) order, by default it is set as False.
# Return: Returns a list with elements in sorted order.

In [50]:
x = (2, 8, 1, 4, 6, 3, 7) 
# Since this is a function so it will return something and needs to be stored
a=sorted(x,reverse=True)
a

[8, 7, 6, 4, 3, 2, 1]

In [52]:
# sorted k andar list, string, set, frozen set
# dictionary bhi but isme keys ko sort karke list me return kar dega
x = {'q': 1, 'w': 2, 'e': 3, 'r': 4, 't': 5, 'y': 6} 
print(sorted(x))

['e', 'q', 'r', 't', 'w', 'y']

In [54]:
# using key
def func(x): 
    return x % 7
  
L = [15, 3, 11, 7]  
print("Normal sort :", sorted(L)) 

# key lagne k baad pehle har element me func lagega then ascending me sort karge
# jiska remainder sabse chota vo sabse pehle and so on
print("Sorted with key:", sorted(L, key=func))

Normal sort : [3, 7, 11, 15]
Sorted with key: [7, 15, 3, 11]

In [55]:
my_tuples = [(1, "one"), (3, "three"), (2, "two"), (4, "four")] 
sorted_tuples = sorted(my_tuples, key=lambda x: x[1]) 

#yaha pe x iterator h, har elemnt pe jaega then uska 1th index vale ko dekhega
# then arrange kar dega

print(sorted_tuples)

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [58]:
dct={"A":30,"B":10,"c":200}
sorted(dct,key=lambda x: dct[x])

['B', 'A', 'c']

Methods that cannot be used for tuples:

append(), insert(), remove(), pop(), clear(), sort(), reverse()